apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shop
  namespace: openshift-gitops
spec:
  destination:
    name: ''
    namespace: gitops
    server: 'https://kubernetes.default.svc'
  source:
    path: helm/quarkus-helm-umbrella/chart
    repoURL:  https://github.com/maximilianoPizarro/cloud-native-deployment-strategies.git
    targetRevision: main
    helm:
      valueFiles:
        - values/values-mesh.yaml
      parameters:
      - name: "global.namespace"
        value: gitops
      - name: "domain"
        value: "cluster-79f4d.dynamic.redhatworkshops.io"
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true